font-options {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Allura', cursive;
    font-family: 'Cedarville Cursive', cursive;

}

section#annotations > div {
    display: none; 
}


.quiet {
    font-size: .85em;
    color: #888;
}

*[data-content] {
    background-color: antiquewhite;
    cursor: help;
}

.sample-highlight {
    background-color: antiquewhite;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #f0ad4e;
}

#fico {
    font-size: 60px;
    line-height: 80px;
    vertical-align: bottom;
}

.navbar {
    padding-top: 10px;
    background-color: #323A45;
    border-color: #0088cc;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-brand {
    color: #084898;
}
.navbar-header {
    font-size: 1.8em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-weight: 100;
}
.guide {
    color: #0088cc;
    font-weight: 300;
}

.byline {
    color: white;
    background-color: #0088cc;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    -webkit-border-radius: 4px 4px 0px 0px;
      -moz-border-radius: 4px 4px 0px 0px;
           border-radius: 4px 4px 0px 0px;
}
.byline a {
    color: white;
    font-family: 'Allura', cursive;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.2em;
    font-weight: 100;
}
