section#annotations > div {
    display: none; 
}

.quiet {
    font-size: .85em;
    color: #888;
}

*[data-content] {
    background-color: antiquewhite;
    cursor: help;
}

.sample-highlight {
    background-color: antiquewhite;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #f0ad4e;
}

#fico {
    font-size: 60px;
    line-height: 80px;
    vertical-align: bottom;
}

.navbar-inverse {
    background-color: #1d80fe;
    border-color: #084898;
}
.navbar-inverse .navbar-brand {
    color: #084898;
}
.navbar-header a.navbar-brand {
    color: white;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
